# .NET Core and Visual Studio specific
.vs/
bin/
obj/
*.dll
*.exe
*.pdb
*.user
*.vscode
*.vs
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pch*
*.sdf
*.suo
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
*.ncb
_ReSharper*/
ReSharper*/
*.resharper
[Tt]humbs.db
[Tt]humbs.db_
*.DS_Store
*.dotCover
*.dotsettings
*.build
[Bb]in/
[Dd]ebug/
[Rr]elease/
*.dbmdl
*.dbproj.schemaview
*.jfm
*.pfx
*.publishsettings
node_modules/
npm-debug.log*
yarn.lock
*.tlog/
*.npmrc
.npmrc
yarn-error.log
bower_components/
jspm_packages/
*.sln.ide
*.suo
*.sln.docstates

# Flutter and VS Code specific
*.iml
*.gradle
build/
ios/Pods/
ios/Podfile.lock
android/.gradle/
android/local.properties
*.swp
*.gradle
**/Pods/
**/.symlinks/
**/.flutter-plugins
**/.flutter-plugins-dependencies
.dart_tool/
.idea/
.vscode/
*.flutter
*.png
*.jpg
*.jpeg
*.gif
*.webp
*.bmp
*.svg
*.tiff
*.jif
*.jfif
*.jp2
*.jpx
*.j2k
*.wdp
*.jxr
*.hdp
*.jls
*.cr2
*.nef
*.nrw
*.raf
*.dng
*.crw
*.raw
*.pef
*.x3f
*.arw
*.sr2
*.srw
*.mef
*.erf
*.3fr
*.fff
*.dcr
*.ptx
*.cap
*.iiq
*.eip
*.rw2
*.rwl
*.kdc
*.dcs
*.drf
*.dc2
*.k25
*.rawhdr
*.rwz
*.gpr
*.gpx
*.xmp
*.dxf
*.csv
*.sqlite
*.db
*.jpg_large
*.mov
*.mp4
*.avi
*.wmv
*.mpeg
*.flv
*.3gp
*.mpg
*.m4v
*.m2v
*.mxf
*.mts
*.mkv
*.webm
*.vob
*.ogv
*.ogg
*.mdi
*.m4a
*.wav
*.flac
*.mp3
*.aac
*.wma
*.wv
*.aif
*.aiff
*.mid
*.midi
*.m3u
*.m4u
*.mpa
*.ra
*.ram
*.rv
*.wav
*.weba
*.ape
*.opus
*.aac
*.aiff
*.webm
*.amr
*.awb
*.flac
*.m4a
*.m4r
*.mp3
*.m4b
*.ogg
*.opus
*.wav
*.wma
*.3gp
*.3g2
*.avi
*.flv
*.h264
*.mkv
*.mov
*.mp4
*.mpg
*.mpeg
*.rm
*.swf
*.vob
*.wmv
*.doc
*.docx
*.pdf
*.xls
*.xlsx
*.ppt
*.pptx
*.ppsx
*.txt
*.md
*.nfo
*.rtf
*.woff
*.woff2
*.eot
*.ttf
*.otf
*.ico
*.pdf
*.ebook
*.zip
*.rar
*.gz
*.bz2
*.7z
*.xz
*.tar
*.iso
*.dmg
*.md5
*.sha1
*.torrent
*.json
!appsettings.json
!appsettings.Development.json
!appsettings.Staging.json
!appsettings.Production.json

# Remove the line below if you want to checkin your Azure Web App settings, but
# Azure will also not pick up changes in this file automatically.
# azureappservice.json

# End of .gitignore
